[submodule "Libraries/CleanroomASL"]
	path = Libraries/CleanroomASL
	url = https://github.com/emaloney/CleanroomASL.git
[submodule "Carthage/Checkouts/CleanroomASL"]
	path = Carthage/Checkouts/CleanroomASL
	url = https://github.com/emaloney/CleanroomASL.git
