SUPPORTED_PLATFORMS = iphoneos iphonesimulator macosx appletvos appletvsimulator watchos watchsimulator
TARGETED_DEVICE_FAMILY = 1,2,3,4

////////////////////////////////////////////////////////////////////////////////
//
// iOS-specific settings
//
IPHONEOS_DEPLOYMENT_TARGET = 9.0

VALID_ARCHS[sdk=iphoneos*] = arm64 armv7 armv7s
VALID_ARCHS[sdk=iphonesimulator*] = i386 x86_64

LD_RUNPATH_SEARCH_PATHS[sdk=iphoneos*] =  @executable_path/Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=iphonesimulator*] =  @executable_path/Frameworks @loader_path/Frameworks

ENABLE_BITCODE[sdk=iphone*] = YES

////////////////////////////////////////////////////////////////////////////////
//
// macOS-specific settings
//
MACOSX_DEPLOYMENT_TARGET = 10.11

VALID_ARCHS[sdk=macosx*] = i386 x86_64

LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] =  @executable_path/../Frameworks @loader_path/../Frameworks

ENABLE_BITCODE[sdk=macosx*] = NO

////////////////////////////////////////////////////////////////////////////////
//
// tvOS-specific settings
//
TVOS_DEPLOYMENT_TARGET = 9.0

VALID_ARCHS[sdk=appletvos*] = arm64
VALID_ARCHS[sdk=appletvsimulator*] = x86_64

LD_RUNPATH_SEARCH_PATHS[sdk=appletvos*] =  @executable_path/Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=appletvsimulator*] =  @executable_path/Frameworks @loader_path/Frameworks

ENABLE_BITCODE[sdk=appletv*] = YES

////////////////////////////////////////////////////////////////////////////////
//
// watchOS-specific settings
//
WATCHOS_DEPLOYMENT_TARGET = 2.0

VALID_ARCHS[sdk=watchos*] = armv7k
VALID_ARCHS[sdk=watchsimulator*] = i386

LD_RUNPATH_SEARCH_PATHS[sdk=watchos*] =  @executable_path/Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=watchsimulator*] =  @executable_path/Frameworks @loader_path/Frameworks

ENABLE_BITCODE[sdk=watch*] = YES
